<ion-header>
  <ion-toolbar>
    <ion-title>
      Suporte
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    
    <ion-list-header style="height:160px">
        <div class="avatar">
            <img src="assets/icon/logoFind&Hire.png" alt="logo-ideapps">
        </div>
        <div style="margin-left:150px;">
          <a style="font-size:25px; text-decoration: none" href="https://www.instagram.com/?hl=pt-br" target="_blank">Siga-nos no Instagram</a>
        </div>
    </ion-list-header>
    <ion-item>
      <ion-icon name="contact" item-start></ion-icon>
      Minha Conta
    </ion-item>
    <ion-item>
        <ion-icon name="cart" item-start></ion-icon>
        Primeira Conta
    </ion-item> 
  
    <ion-item>
        <ion-icon name="briefcase" item-start></ion-icon>
        Código de Desconto
    </ion-item> 
    <ion-item>
        <ion-icon name="finger-print" item-start></ion-icon>
        Privacidade
    </ion-item> 
    <ion-item>
        <ion-icon name="contacts" item-start></ion-icon>
        Seja parceiro
    </ion-item>
    
  </ion-list>
</ion-content>
