<ion-header *ngIf="row">
  <ion-toolbar>
    <ion-title>
        <ion-grid>
            <ion-row>
              <ion-col size="2">
                  <div class="avatar ">
                      <img src="assets/icon/logoFind&Hire.png" alt="logo-ideapps">
                  </div>
              </ion-col>
              <ion-col size="10">
                  <div class="endereco">
                        Av. Treze de Maio, 2081 · (85) 3307-3681      
                    </div>
              </ion-col>
            </ion-row>
        </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="row">

  
    <!--TopCategories-->

    <ion-card>
        <div class="scrolling-wrapper topcategories" *ngIf="row">
            <div class="card" *ngFor="let topCategorie of row.topCategories">
                <img [src]="topCategorie.image_url" alt="">
                <span>{{topCategorie.name}}</span>
            </div>          
                   
          </div>

    </ion-card>
    <!-- Categories-->
    <ion-card>

        <div class="scrolling-wrapper" *ngIf="row">
            <div class="card" *ngFor="let categorie of row.categories" >
              <ul >
                  <li>
                      <img [src]="categorie.image_url" alt="">
                      <span>{{categorie.name}}</span>
                  </li>  
              </ul>
            </div>
            
          </div>
    </ion-card>


    <div class="thumnails">
      <div class="list-thumbnail">
        <div class="img-thumb" [class.selected-img]="x.selected" *ngFor="let x of images" (click)="onThumbnailClick(x)">
          <img src="https://p2.trrsf.com/image/fget/cf/460/0/images.terra.com/2018/05/25/dicas-para-requentar-a-pizza-amanhecida.jpg">
          <img src="https://p2.trrsf.com/image/fget/cf/460/0/images.terra.com/2018/05/25/dicas-para-requentar-a-pizza-amanhecida.jpg">
          <img src="https://p2.trrsf.com/image/fget/cf/460/0/images.terra.com/2018/05/25/dicas-para-requentar-a-pizza-amanhecida.jpg">

        </div>
      </div>
    </div>
</ion-content>
